@import "variables";

.nav-tabs .nav-link,
.nav-pills .nav-link{
    border: none;
    border-bottom: 4px solid #c2bdbd;
    width: 270px;
    border-radius: 0;
    font: 700 18px Quicksand;
    text-align: center;
    text-decoration: none;
    margin: 0 1px;
}
.nav-tabs,.nav-pills{
    border: none;
    border-radius: 0;
    justify-content: center;
    margin-top: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-pills .nav-item.show .nav-link,.nav-pills .nav-link.active{
    border: none;
    border-bottom: 4px solid #569ffc;
    color: #569ffc;
    text-align: center;
    background: none;
}
.nav-tabs .nav-link:hover,.nav-pills .nav-link:hover{
    border: none;
    border-bottom: 4px solid #c2bdbd;
}
.nav-tabs .nav-link:focus,
.nav-pills .nav-link:focus{
    border-bottom: 4px solid #569ffc;
}

.vehicle_tab{
    cursor: pointer;
}
